nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
}

nav span {
  font-family: "Bungee";
}

.nav-newtweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-newtweet2 {
  margin: 0%;
}

.navarrow {
  color: red;
  animation: mover 0.5s infinite  alternate;
}

.nav-newtweet:hover {
  cursor: pointer;
}

@keyframes mover {
  0% { transform: translateY(-5px); }
  100% { transform: translateY(5px); }
}
